<div>
  Lista de Produtos!!!
  {{#each produtos}}
    <p>
      Produto
      {{id}}
      <ul>
        <li>title: {{title}}</li>
        <li>description: {{description}}</li>
        <li> price: {{price}}</li>
      </ul>
    </p>
    <br />
  {{/each}}

</div>